blockquote{
    font-weight: 100;
    font-style: italic;
    font-size: 28px;
    margin-left: -1.75px;
    line-height: 1.48;
    letter-spacing: -.014em;
    color: rgba(0,0,0,.6);
    border-left: 4px solid #ccc;
    padding: 0;
    padding-left: 50px;
    text-align: left;
    margin: 50px 0;
}

.fullwidth,video{
  max-width: 100%;
  margin: 30px 0;
}

.fullwidth.m0{
  margin: 0
}

.author{
  text-align: right;
  margin-top: 20px;
}

.preview{
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.hexagon {
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate(120deg);
       -moz-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
         -o-transform: rotate(120deg);
            transform: rotate(120deg);
    cursor: pointer;
}

.hexagon-in1 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
    }

.hexagon-in2 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    visibility: visible;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
    }
.hexagon2 {
    width: 200px;
    height: 400px;
    margin: -80px 0 0 20px;
    }




table {
  margin: 50px 0;
  text-align: left;
  width: 100%;
  *border-collapse: collapse; /* IE7 and lower */
  border-spacing: 0;
}

thead{
  border-bottom: 20px solid transparent;
}

tr{
  border-bottom: 1px solid #ccc;
}

td{
  padding: 12px 0;
}

.border{
	background-color: #efddce;
	position: fixed;
	z-index: 100;
}

.border:nth-child(1),
.border:nth-child(2){
	height: 100%;
	width: 30px;
	top: 0;
}

.border:nth-child(2){
	right: 0;
}

.border:nth-child(3),
.border:nth-child(4){
	width: 100%;
	height: 30px;
	left: 0;
}

.border:nth-child(4){
	bottom: 0;
}

canvas {
    opacity: 0.3
}

header{
	margin-bottom: 5em;
	position: relative;
}

header img {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -250px;
    pointer-events: none;
}

header a{
	position: absolute;
	bottom: 30px;
	left: 50%;
	font-size: 50px;
	margin-left: -25px;
	-webkit-animation: updown 2s infinite; /* Safari 4+ */
  	-moz-animation:    updown 2s infinite; /* Fx 5+ */
  	-o-animation:      updown 2s infinite; /* Opera 12+ */
  	animation:         updown 2s infinite;
    text-decoration: none;
}

nav{
  padding-top: 20px;
  position: absolute;
  left: 50px;
  z-index: 10;
  background: rgba(255,255,255,0.8);
  color: #555;
  top: 1072px;
}

nav ul{
  margin-top: 0;
}

nav.sticky{
  position: fixed;
  top: 60px;
}

nav .menu a{
  font-size: 18px;
  text-decoration: none !important;
}

nav .menu a:hover,
nav .menu a.active{
  color: #000;
  font-weight: bold;
}

nav .menu h2{
  margin-bottom: 5px;
  margin-top: 0;
}


#menu_mobile{
  right: 30px;
  top: 30px;
  width: 50px;
  height: 50px;
  background-image: url(/img/icons/menu.svg);
  background-size: cover;
  background-color: #fff;
  position: fixed;
  z-index: 1000;
  display: none;
}

#menu_mobile:hover{
  cursor: pointer;
}

section#inhalt{
	min-height: 100vh;
}

section{
	margin-bottom: 100px;
  padding-top: 30px;
}

section h1{
	font-size: 3.5em;
  /*font-size: 4em;*/
	margin-bottom: 3em;
	position: relative;
  line-height: 70px;
  letter-spacing: 5px;
	/*text-transform: uppercase;*/
}

section h1:before{
  content: attr(data-author);
  position: absolute;
  font-size: 18px;
  font-weight: 100;
  right: 0;
  letter-spacing: 0;
  font-style: italic;
  top: 130px;
}

section h1:after{
  content: "";
  position: absolute;
  width: 1em;
  height: 4px;
  background-color: #333;
  left: 5px;
  bottom: -30px;
}

.trenner{
  position: relative;
  width: 100%;
  height: 200px;
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
  margin-bottom: 100px;
  background-repeat: no-repeat;
  -webkit-transform: translate3d(0,0,0);
}


.text a{
  font-style: normal !important;
}


#quellen a{
  float: left;
  clear: both;
  margin-bottom: 10px;
}

.show_preview{
  -webkit-animation: pulse 2s infinite; /* Safari 4+ */
  -moz-animation:    pulse 2s infinite; /* Fx 5+ */
  -o-animation:      pulse 2s infinite; /* Opera 12+ */
  animation:         pulse 2s infinite;
}

.show_preview,.close_preview{
    position: absolute;
    right: 31px;
    background: #000;
    color: #fff;
    font-size: 33px;
    padding: 8px;
}

.show_preview{
    bottom: 0px;
}

.close_preview{
  top: 20px;
}

.show_preview,
.close_preview:hover{
  cursor: pointer;
}

.preview{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  visibility: hidden;
  z-index: 100000;
}

.preview.active{
  opacity: 1;
  visibility: visible;
}





@-webkit-keyframes pulse {
  0%   { transform: scale(1); }
  50%   { transform: scale(1.1); }
  100% { transform: scale(1); }
}
@-moz-keyframes pulse {
  0%   { transform: scale(1); }
  50%   { transform: scale(1.1); }
  100% { transform: scale(1); }
}
@-o-keyframes pulse {
  0%   { transform: scale(1); }
  50%   { transform: scale(1.1); }
  100% { transform: scale(1); }
}
@keyframes pulse {
  0%   { transform: scale(1); }
  50%   { transform: scale(1.1); }
  100% { transform: scale(1); }
}


@-webkit-keyframes updown {
  0%   { bottom: 30px; }
  50%   { bottom: 50px; }
  100% { bottom: 30px; }
}
@-moz-keyframes updown {
  0%   { bottom: 30px; }
  50%   { bottom: 50px; }
  100% { bottom: 30px; }
}
@-o-keyframes updown {
  0%   { bottom: 30px; }
  50%   { bottom: 50px; }
  100% { bottom: 30px; }
}
@keyframes updown {
  0%   { bottom: 30px; }
  50%   { bottom: 50px; }
  100% { bottom: 30px; }
}



/*@media only screen and (max-width: 786px) {*/
@media only screen and (max-width: 940px) {

  canvas{
    opacity: 0;
  }

  .border:nth-child(1),
  .border:nth-child(2){
    width: 10px;
  }

  .border:nth-child(3),
  .border:nth-child(4){
    height: 10px;
  }

  .border{}

  #menu_mobile{
    display: block;
  }


  nav{
    -webkit-transition: top .3s;
    -moz-transition: top .3s;
    -o-transition: top .3s;
    transition: top .3s;
  }

  header img{
    margin: -200px 0 0 -200px;
    max-width: 400px;
  }

  .row{
    width: 100%;
    max-width: 1000px;
    padding-left: 45px;
    padding-right: 45px;
  }

  nav{
    width: 100%;
    background: rgba(255,255,255,1);
    top: -600px !important;
    position: fixed !important;
    left: 5px;
  }

  nav.show{
    top: 10px !important;
    box-shadow: 0 1px 1px 0 rgba(130,145,153,0.5);
  }

}

@media all {
  .page-break { display: none; }
}

@media print {
  section li{
    list-style: disc !important;
  }

  .hide_on_print{
    display: none;
  }

  .page-break {
    display: block;
    page-break-before: always;
  }

  nav:before{
    font-weight: 700;
    font-size: 34px;
    content: "Inhaltsverzeichnis";
    top: -40px;
    position: relative;
    left: 30px
  }
  nav{
    position: inherit;
    font-size: 20px;
    margin-top: 50px;
    float: left;
  }

  nav .menu a{
    font-size: 30px !important;
    font-style: normal !important;
  }

  .row{
    padding: 0 30px;
  }

  canvas{
    opacity: 0;
  }

  .scrolldown{
    display: none;
  }

  section{
    margin-bottom: 30px;
  }

}