.preview,
nav .menu a{
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

nav .menu a{
    -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/*nav{
	display: none;
}*/

#inhalt{
  display: none;
}

.border{
	background-color: #efddce;
	position: fixed;
	z-index: 10000;
}

.border:nth-child(1),
.border:nth-child(2){
	height: 100%;
	width: 30px;
	top: 0;
}

.border:nth-child(2){
	right: 0;
}

.border:nth-child(3),
.border:nth-child(4){
	width: 100%;
	height: 30px;
	left: 0;
}

.border:nth-child(4){
	bottom: 0;
}

canvas {
    opacity: 0.3
}

header{
	margin-bottom: 5em;
	position: relative;
}

header img {
    position: absolute;
    z-index: 10000;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -250px;
    pointer-events: none;
}

header a{
	position: absolute;
	bottom: 30px;
	left: 50%;
	font-size: 50px;
	margin-left: -25px;
	-webkit-animation: updown 2s infinite; /* Safari 4+ */
  	-moz-animation:    updown 2s infinite; /* Fx 5+ */
  	-o-animation:      updown 2s infinite; /* Opera 12+ */
  	animation:         updown 2s infinite;
}

@-webkit-keyframes updown {
  0%   { bottom: 30px; }
  50%   { bottom: 50px; }
  100% { bottom: 30px; }
}
@-moz-keyframes updown {
  0%   { bottom: 30px; }
  50%   { bottom: 50px; }
  100% { bottom: 30px; }
}
@-o-keyframes updown {
  0%   { bottom: 30px; }
  50%   { bottom: 50px; }
  100% { bottom: 30px; }
}
@keyframes updown {
  0%   { bottom: 30px; }
  50%   { bottom: 50px; }
  100% { bottom: 30px; }
}

section#inhalt{
	min-height: 100vh;
}

section{
	margin-bottom: 200px;
  padding-top: 30px;
}

section h1{
	font-size: 4em;
	margin-bottom: 2em;
	position: relative;
  line-height: 70px;
	/*text-transform: uppercase;*/
}

section h1:after{
	content: "";
	position: absolute;
	width: 5em;
	height: 1px;
	background-color: #ccc;
	left: 20px;
	bottom: -30px;
}

.trenner{
  position: relative;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-bottom: 100px;
}

.show_preview{
  -webkit-animation: pulse 2s infinite; /* Safari 4+ */
  -moz-animation:    pulse 2s infinite; /* Fx 5+ */
  -o-animation:      pulse 2s infinite; /* Opera 12+ */
  animation:         pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0%   { transform: scale(1); }
  50%   { transform: scale(1.1); }
  100% { transform: scale(1); }
}
@-moz-keyframes pulse {
  0%   { transform: scale(1); }
  50%   { transform: scale(1.1); }
  100% { transform: scale(1); }
}
@-o-keyframes pulse {
  0%   { transform: scale(1); }
  50%   { transform: scale(1.1); }
  100% { transform: scale(1); }
}
@keyframes pulse {
  0%   { transform: scale(1); }
  50%   { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.show_preview,.close_preview{
    position: absolute;
    bottom: 0px;
    right: 31px;
    background: #000;
    color: #fff;
    font-size: 33px;
    padding: 8px;
}

.close_preview{
  bottom: 20px;
}

.show_preview,
.close_preview:hover{
  cursor: pointer;
}

.preview{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  visibility: hidden;
}

.preview.active{
  opacity: 1;
  visibility: visible;
}

nav{
  padding-top: 20px;
  position: absolute;
  left: 5px;
  z-index: 10;
  background: rgba(255,255,255,0.8);
  color: #555;
}

nav ul{
  margin-top: 0;
}

nav.sticky{
  position: fixed;
  top: 20px !important;
}

nav .menu a{
  font-size: 18px;
}

nav .menu a:hover,
nav .menu a.active{
  color: #000;
  font-weight: bold;
}

nav .menu h2{
  margin-bottom: 5px;
  margin-top: 0;
}